[2014-06-14 16:51] dwillis opened #1 "Merge files from @konklone's FOILs"
https://github.com/konklone/ny-elections

[2014-06-14 16:51] dwillis opened #2 "Send Regular Email to NYS"

[2016-11-26 20:04] #2 closed

[2016-11-26 20:04] #1 closed

[2016-11-26 20:05] dwillis opened #3 "Parse 2016 primary PDFs into county-level results"
From April, June and September. Files [here](https://www.elections.ny.gov/2016ElectionResults.html).

[2016-11-26 20:07] dwillis opened #4 "Parse 2015 Elections into county-level results"
Using either PDF or XLS files found [here](https://www.elections.ny.gov/2015ElectionResults.html).

[2016-11-26 20:41] chriszs commented on #3
I'll take this if no else has. I [did the Democratic primary](https://gist.github.com/chriszs/3ef04b39158e48efbc12c9eee3cdeb04) as a sample.

[2016-11-30 04:24] efuquen opened #5 "2016 Primary precinct results"
List of county websites [here](https://www.elections.ny.gov/CountyBoards.html).

- [ ] Albany
- [ ] Allegany
- [ ] Bronx
- [ ] Broome
- [ ] Cattaraugus
- [ ] Cayuga
- [ ] Chautauqua
- [ ] Chemung
- [ ] Chenango
- [ ] Clinton
- [ ] Columbia
- [ ] Cortland
- [ ] Delaware
- [ ] Dutchess
- [ ] Erie
- [ ] Essex
- [ ] Franklin
- [ ] Fulton
- [ ] Genesee
- [ ] Greene
- [ ] Hamilton
- [ ] Herkimer
- [ ] J

[2016-12-12 16:10] #3 closed

[2016-12-21 21:52] dwillis opened #9 "2016 General Election results"
If you want to work on a county, add a comment saying which one you'd like to work on or email openelections@gmail.com. You can either email us finished CSV files or submit a pull request, whatever is easiest.

Click on the county links below to get the results files you'll be converting. Many of these are either PDFs or Excel files, and in some cases you'll need to convert a number of office-spec

[2016-12-23 23:09] dannguyen commented on #9
Calling [Kings](http://vote.nyc.ny.us/html/results/results.shtml)...so, grab Queens/New York/Bronx/Richmond too?

[2016-12-23 23:15] dannguyen commented on #9
LOL [Wyoming](http://www.wyomingco.net/BOE/results/Certified_Election_Results_1110816.pdf)

![image](https://cloud.githubusercontent.com/assets/121520/21463740/9af3e5b2-c922-11e6-83a4-683331fc54f6.png)

[2016-12-23 23:24] dwillis commented on #9
Sure, if you want NYC, you got it, @dannguyen. Leave Wyoming to me (or someone else with OCR).

[2016-12-24 12:03] mozzarellaV8 commented on #9
@dwillis I can take on [Essex](http://www.co.essex.ny.us/downloads/enight.pdf) and [Fulton](http://www.fultoncountyny.gov/node/98) if no one's started on em yet/still needed

[2016-12-28 16:02] dwillis opened #10 "County-level results parsing"
Convert presidential, statewide and state legislative race results into CSV files from the original PDFs or Excel spreadsheets produced by the state (use whichever is easiest). Include primary, general and special elections for those offices.

- [ ] [2016](https://www.elections.ny.gov/2016ElectionResults.html)
- [ ] [2015](https://www.elections.ny.gov/2015ElectionResults.html)
- [ ] [2014](https:/

[2016-12-28 20:30] alykat commented on #9
I can take a pass at Broome and Cattaraugus. How should I handle write-ins? (See [Cattaraugus](http://www.cattco.org/files/elections/2016/11/2016-general-election-official-results.pdf), where there are many.)

[2016-12-28 21:17] RedOakMark commented on #10
I'll pitch in here @dwillis

[2016-12-28 21:34] dwillis commented on #10
Thanks @RedOakMark! I'm grabbing 2000, but the others are wide open.

[2016-12-28 21:35] RedOakMark commented on #10
Working on 2016 to start with just to make sure I get the formatting down.

[2016-12-28 21:40] RedOakMark commented on #10
@dwillis do you usually combine Write Ins into one selection, or keep them all separate?

[2017-01-01 15:23] ursulakaczmarek commented on #10
Count me in for 2004:2006 to start. I'll submit a pull request when I complete all three years.

[2017-02-10 19:27] solumos commented on #10
@dwillis I'll give 2008 a try!

[2017-02-10 20:03] pratheekrebala commented on #9
I can take Cayuga & Onondaga.

[2017-02-23 02:18] nof20 commented on #9
Thankyou all so much!

[2017-02-25 17:47] hrecht commented on #9
I'll take Monroe.

[2017-03-02 23:24] nk9 opened #18 "Apparent error in the 2016 Jefferson County results"
On the Presidential race for precinct 13/1, the Absentee+Affadavit+Machine turnout is 779. The number of votes for each candidate/party combination adds up to 779 as well. But the "Total turnout" number is 780.

Source: 2016 Jefferson, NY precinct-level election results.xlsx

When we find errors like this, do we report them to the county?

[2017-03-03 03:18] dwillis commented on #18
Yeah, that's probably the right call.

[2017-03-05 17:00] dmil commented on #9
Grabbing Chenango

[2017-03-05 21:09] nk9 opened #21 "Error in Broome County 2016 general certified results"
The PDF says that the county total of Under Votes for the presidential contest is 1038. But the sum of the totals of the towns that make up the county is 1036.

![screen shot 2017-03-05 at 21 09 28](https://cloud.githubusercontent.com/assets/3646730/23591421/01ecfc92-01e8-11e7-92c5-a22c09652841.png)

[2017-03-08 06:58] lephead commented on #18
Some counties will change results others will tell you to buzz off.  Seriously.

[2017-03-09 04:36] lephead commented on #9
I'm working on Lewis.  It requires extra handling.  Working on Franklin and St Lawrence also.

[2017-03-11 01:05] acolter commented on #9
I'm working on Montgomery.

[2017-03-11 16:35] acolter commented on #9
Done with Montgomery. Emailing you the .csv file now.

[2017-03-12 00:20] lephead commented on #9
Schenectady is another labor intensive county and I just a out have finished preparing it for a sort.  Also Steuben says they did not apportion absentees for President so I am playing Forensic Ballot Reconstruction Artist and will work on that bad boy.

[2017-03-12 12:35] acolter commented on #9
I'm working on the Oswego elections results and I think I've found an error in how the results were tabulated for the 2016 Rep in congress 22nd.xls file. The totals for Kim A. Myers - DEM are correct, but for all other candidates, the "Affidavit" and "Special Federal" votes are not included in the total for that candidate.

Please advise.

[2017-03-12 20:08] lephead commented on #9
I could add that I have found canvassing errors in the B,V,S and total ballots in Ulster, Schuyler and Cayuga.

[2017-03-13 22:14] acolter commented on #9
Finished Columbia. Working on Otsego next.

[2017-03-14 00:29] dwillis commented on #9
@acolter - thanks for the note on Oswego. It might make sense to create a separate issue for that, just copying the text of what you submitted.

[2017-03-14 03:55] nk9 commented on #9
Great work, @acolter! So you know, there is a [script](https://github.com/openelections/openelections-data-or/blob/master/src/parsers/generic_parser.py) to turn results into a properly-formatted Openelections CSV file. The results just need to be in a simplified CSV format which looks like [this](https://github.com/openelections/openelections-sources-or/blob/master/Columbia/20081104.csv). If you w

[2017-03-14 22:40] acolter commented on #9
Working on Rockland next.

[2017-03-14 22:44] lephead commented on #9
I already did Rockland if not entered.

On Tue, Mar 14, 2017 at 3:40 PM, Angela Colter <notifications@github.com>
wrote:

--
John Mifflin

[2017-03-14 23:06] lephead commented on #9
[20161108_ny_general_rockland_precinct.xlsx](https://github.com/openelections/openelections-data-ny/files/842976/20161108_ny_general_rockland_precinct.xlsx)

[2017-03-14 23:50] acolter commented on #9
Alright, working on Madison then.

[2017-03-15 19:23] lephead commented on #9
steuben : They claim they did not break absentees for President down by party, but did by candidate.  I will do it, but if someone else wants to I can send you my estimates with an absentee breakdown.

[2017-03-17 04:10] lephead commented on #9
Here is STEUBEN WITH ABSENTEE except President

[2016 STEUBEN Offices with ABS breakdown for State.xlsx](https://github.com/openelections/openelections-data-ny/files/849634/2016.STEUBEN.Offices.with.ABS.breakdown.for.State.xlsx)
[20161108_ny_general_steuben_precinct_w_pres_est.xlsx](https://github.com/openelections/openelections-data-ny/files/849635/20161108_ny_general_steuben_precinct_w_pres_est.

[2017-03-18 13:36] acolter opened #23 "Error in Oswego 2016 U.S. House 22 general election results"
There's a math error in the 2016 Oswego County, NY precinct-level election results/2016 Rep in congress 22nd.xls file.

![image](https://cloud.githubusercontent.com/assets/9788211/24072335/4d431f36-0bbc-11e7-8c0d-d7ae9e6d21ed.png)

While the total for Kim A. Myers - DEM is correct, the others are incorrect. For example, the Kim A. Myers - WOR column shows 747+37+11+1=784 but it actually equals 796

[2017-03-18 13:48] acolter opened #24 "Error in Oswego 2016 U.S. House 24 general election results"
There's a math error in the 2016 Oswego County, NY precinct-level election results/2016 Rep in congress 24nd.xls file.

![image](https://cloud.githubusercontent.com/assets/9788211/24072541/269cf43a-0bbf-11e7-9b91-ca0e84713277.png)

While the total for Colleen Deacon - DEM is correct, the others are incorrect. For example, the Colleen Deacon - WOR column shows 755+38+11+2=793 but it actually equals

[2017-03-18 21:45] dwillis commented on #24
We should contact the [Oswego county clerk](http://oswegocounty.com/clerk.shtml) about this.

[2017-03-18 21:46] dwillis commented on #23
We should contact the [Oswego county board of elections](http://www.oswegocounty.com/boe/) about this.

[2017-03-18 23:11] lephead commented on #9
I'm working on Wyoming because it requires extra attention.

[2017-03-23 15:13] acolter commented on #9
Finished Orange; will work on Genesee next.

[2017-03-24 22:59] nk9 opened #25 "Republican (etc) results missing from Westchester 2016 general, CD-18 contest"
Sean Maloney is the only candidate listed in the CD-18 contest in this file:

20161108__ny__general__westchester__precinct.csv

According to the xls, though, Maloney ran against Republican (etc) Phil Oliva. This contest also excludes the Scatterings results. And ALL contests seem to exclude the over/under votes.

[2017-03-25 04:30] lephead commented on #25
I guess I thought I was finished but I wasn't.  Here is the original Westchester file.
[2016 Westchester County, NY precinct-level election results.xlsx](https://github.com/openelections/openelections-data-ny/files/869684/2016.Westchester.County.NY.precinct-level.election.results.xlsx)

or leave comment and I;ll fix it up.

[2017-03-25 04:31] lephead commented on #9
Here is some Clinton information that will make it easier to make a chart.  I made it so all scattering votes are included in the scattering totals.
[2016 CLINTON NY CHART.xlsx](https://github.com/openelections/openelections-data-ny/files/869685/2016.CLINTON.NY.CHART.xlsx)

[2017-03-25 11:27] lephead commented on #25
Here is an updated chart with the missing info in CD18.  If you look at the county canvass, you can tell that they just subtract the difference because there is no seperation of blank and void ballots.
[20161108_ny_general_westchester_precinct.xlsx](https://github.com/openelections/openelections-data-ny/files/869957/20161108_ny_general_westchester_precinct.xlsx)

[2017-03-25 20:57] lephead commented on #9
Here is GREENE COUNTY
[20161108_ny_general_greene_precinct.xlsx](https://github.com/openelections/openelections-data-ny/files/870361/20161108_ny_general_greene_precinct.xlsx)

[2017-04-01 14:34] Anandkarthick commented on #9
I'll take Washington

[2017-04-01 14:43] adorsk commented on #9
I'll work on Wayne

[2017-04-01 15:42] adorsk commented on #9
re: wayne county, there are two sets of PDFs:
1. http://web.co.wayne.ny.us/wp-content/uploads/2016/08/GE16OfficialCanvas-Position.pdf
2. http://web.co.wayne.ny.us/wp-content/uploads/2016/08/GE16-OFFICIAL-BY-TOWN.pdf

They have the same counts, but sorted differently. OfficialCanvas-position.pdf is much cleaner to parse, so using that one.

[2017-04-17 23:40] jeremiak commented on #9
I've got Clinton county

[2017-04-17 23:58] dwillis commented on #9
Hey @jeremiak - I wasn't able to update this yet, but someone else is working on Clinton. Could you grab Wayne instead?

[2017-04-18 00:02] jeremiak commented on #9
@dwillis Sure, but from the comment above it looks like @adorsk might be on it? If not, I'm happy to grab Wayne

[2017-04-18 00:03] lephead commented on #9
Here is Clinton

On Mon, Apr 17, 2017 at 4:59 PM, Derek Willis <notifications@github.com>
wrote:

--
John Mifflin

[2017-04-18 00:04] lephead commented on #9
Here are the Waynes I have not sure what I have done.

On Mon, Apr 17, 2017 at 5:02 PM, Jeremia Kimelman <notifications@github.com>
wrote:

--
John Mifflin

[2017-04-18 00:12] dwillis commented on #9
@jeremiak: possibly, though haven't heard from @adorsk in a bit. I'd say go ahead with Wayne, and use the official canvas file.

[2017-04-18 00:27] lephead commented on #9
Hey Derek, I already extracted the precinct results if someone wants to use
them.  Wayne has another one of those strange databases and this would help
out.

On Mon, Apr 17, 2017 at 5:12 PM, Derek Willis <notifications@github.com>
wrote:

--
John Mifflin

[2017-04-18 00:28] dwillis commented on #9
@lephead can you say more?

[2017-04-18 00:31] lephead commented on #9
Like what?

On Mon, Apr 17, 2017 at 5:28 PM, Derek Willis <notifications@github.com>
wrote:

--
John Mifflin

[2017-04-18 00:32] dwillis commented on #9
What makes their db strange?

[2017-04-18 00:33] lephead commented on #9
You know this is me, John Mifflin, right?

On Mon, Apr 17, 2017 at 5:31 PM, John Mifflin <miff5187@gmail.com> wrote:

--
John Mifflin

[2017-04-18 00:34] lephead commented on #9
Have you seen the style that the list their election results in.  Requires
lots of rework to add numbers to names and delete extra lines.

On Mon, Apr 17, 2017 at 5:32 PM, Derek Willis <notifications@github.com>
wrote:

--
John Mifflin

[2017-04-18 00:35] dwillis commented on #9
Gotcha, just didn't know if there was something else. Thanks.

[2017-04-18 01:17] lephead commented on #9
no, just trying to save people time extracting results and then having to
fix em up.

On Mon, Apr 17, 2017 at 5:35 PM, Derek Willis <notifications@github.com>
wrote:

--
John Mifflin

[2017-04-18 04:06] lephead commented on #9
Here is 2016 Lewis
[20161108_ny_general_lewis_precinct.xlsx](https://github.com/openelections/openelections-data-ny/files/927293/20161108_ny_general_lewis_precinct.xlsx)

[2017-04-18 11:08] adorsk commented on #9
@jeremiak @dwillis Yes, [lease do go ahead with Wayne. I haven't been able to work on it recently, so please go ahead and take it.

[2017-04-18 13:39] jeremiak commented on #9
Great, thanks for the update @adorsk. I'm working on Wayne with [this repo](https://github.com/jeremiak/open-elections-ny-general-2016-utils).

[2017-04-19 00:52] acolter commented on #9
I'll take Delaware.

[2017-04-19 01:04] dwillis opened #29 "Missing some party affiliations for Hamilton 2016 general file"
For down-ballot races. We have candidate names but not party lines they ran under.

[2017-04-19 12:06] dwillis commented on #9
I've emailed Sullivan County to ask about the availability of write-in and other non-candidate votes (the website doesn't have them).

[2017-04-26 09:33] lephead commented on #29
Here is an updated Hamilton with missing parties.
[20161108_ny_general_hamilton_precinct.xlsx](https://github.com/openelections/openelections-data-ny/files/957856/20161108_ny_general_hamilton_precinct.xlsx)

[2017-04-26 10:09] dwillis commented on #29
Thanks!

[2017-04-26 10:09] #29 closed

[2017-04-26 16:07] lephead commented on #29
Hey I thought I updated Westchester but if it is still missing something
let me know.  I did put the missing stuff under Congress 18 under Sean
Patrick Maloney.

On Wed, Apr 26, 2017 at 3:09 AM, Derek Willis <notifications@github.com>
wrote:

--
John Mifflin

[2017-05-08 06:35] lephead commented on #9
Unless I missed something here is a Wayne County canvass
[20161108_ny_general_wayne_precinct.xlsx](https://github.com/openelections/openelections-data-ny/files/982536/20161108_ny_general_wayne_precinct.xlsx)

[2017-05-08 19:44] dwillis commented on #25
Fixed now.

[2017-05-08 19:44] #25 closed

[2017-05-08 19:54] lephead commented on #25
Thanks because I could not figure out what somebody wanted me to do.  If
they wanted me to put in a "blank and void" I understand, but Westchester
doesn't really track those kind of votes.

On Mon, May 8, 2017 at 12:44 PM, Derek Willis <notifications@github.com>
wrote:

--
John Mifflin

[2017-05-24 17:54] dwillis opened #30 "Error in 2016 Suffolk general results"
Reported by John Johnson of Marquette: The file contains the same vote total for Clinton in multiple party lines. Specifically, Clinton's vote in "DEM" lines is identical to her vote in "WEP" (Women's Equality Party) lines. Somewhere the two must have been conflated.

[2017-06-17 22:52] lephead commented on #30
Here is my 2016 Suffolk New York.  It has totals for each party and candidate.  Somebody must not have been paying close attention when they changed my chart to fit their format.

[2016 SUFFOLK NY.xlsx](https://github.com/openelections/openelections-data-ny/files/1082791/2016.SUFFOLK.NY.xlsx)

[2017-07-04 16:33] #9 closed

[2017-07-04 16:40] dwillis commented on #30
This is fixed now.

[2017-07-04 16:40] #30 closed

[2017-09-04 18:36] anbnyc opened #32 "Suffolk County 2013 results uses comma in a field in a csv"
"Town Justice, Town of..." should not be a valid value for the "office" field in `2013/20131105__ny__general__suffolk__precinct.csv` because the file format is .csv and parses into an inconsistent number of columns. Prefer "Town Justice - Town of...". cc @nof20

[2017-09-04 18:41] dwillis commented on #32
CSV values containing commas are valid if enclosed in double quote marks.

[2017-09-04 18:51] dwillis commented on #32
Thanks! This is fixed now in Suffolk files from 2012-2015.

[2017-09-04 19:33] nof20 commented on #32
Hi all, I think I have a better solution.  See https://github.com/openelections/openelections-data-ny/pull/33.

[2017-09-04 19:39] dwillis commented on #32
I agree.

[2017-09-04 23:44] anbnyc commented on #32
Thanks @nof20 @dwillis!

[2017-09-18 04:11] hodgesmr opened #34 "2016 General County WOR & WEP parties?"
I noticed that in [20161108__ny__general.csv](https://github.com/openelections/openelections-data-ny/blob/master/2016/20161108__ny__general.csv) Hillary Clinton has multiple vote tallies for the same county under the parties: `DEM`, `WOR`, and `WEP`. Is this an artifact of some strange reporting that NY does, or was something parsed incorrectly?

Example:

[code]

[2017-09-18 05:15] dwillis commented on #34
@hodgesmr it is an artifact; NY permits candidates to run on multiple party lines and reports their totals for each party. Most results apps/maps roll them up into a single total. WOR is the Working Families Party and WEP is the Women's Equality Party.

[2017-09-18 12:36] hodgesmr commented on #34
Today I learned!

[2017-09-18 12:36] #34 closed

[2017-10-29 00:43] AlJohri commented on #10
@dwillis It seems like 2016 data is in the repo but not showing on the website: http://www.openelections.net/results/#ny

Is there some further processing needed?

[2017-10-29 01:44] dwillis commented on #10
Hey @AlJohri, yes, we need to implement NY in the `core` repository. Closest state in terms of similar data is probably Oregon.

[2017-11-29 00:16] dwillis opened #35 "2014 General Election Precinct Results"
If you want to work on a county, add a comment saying which one you'd like to work on or email openelections@gmail.com. You can either email us finished CSV files or submit a pull request, whatever is easiest.

You'll find 2014 results files you'll be converting in some of the county-specific folders in the [NY sources repository](https://github.com/openelections/openelections-sources-ny). Many of

[2017-12-10 04:24] davechilders commented on #35
The Herkimer County link is broken

[2017-12-10 11:59] dwillis commented on #35
@davechilders sorry about that; it works now.

[2018-01-06 15:22] dwillis opened #37 "2012 General Election Precinct Results"
If you want to work on a county, add a comment saying which one you'd like to work on or email openelections@gmail.com. You can either email us finished CSV files or submit a pull request, whatever is easiest.

You'll find 2012 results files you'll be converting in some of the county-specific folders in the [NY sources repository](https://github.com/openelections/openelections-sources-ny). Many of

[2018-01-06 15:23] dwillis opened #38 "2012 Primary Election Precinct Results"
If you want to work on a county, add a comment saying which one you'd like to work on or email openelections@gmail.com. You can either email us finished CSV files or submit a pull request, whatever is easiest.

You'll find 2012 results files you'll be converting in some of the county-specific folders in the [NY sources repository](https://github.com/openelections/openelections-sources-ny). Many of

[2018-01-06 15:23] dwillis opened #39 "2014 Primary Election Precinct Results"

[2018-02-07 01:39] ursulakaczmarek commented on #10
Starting 2002-03.

[2018-04-06 12:57] #35 closed

[2018-04-14 18:02] jamesdunham opened #43 "Corrections in 2016 Suffolk precinct totals"
Looking into higher-than-expected vote counts in Suffolk, I've come across some further cases of the issue described in #30. Clinton's Democratic votes may appear twice, the second time replacing her (fewer) Working Families votes. For example:

[code]

Clinton's true vote totals in Suffolk were 292,720 DEM, 8,001 WOR, and 3,230 WEP. The precinct data are consistent with these numbers for DEM and

[2018-04-15 22:00] #43 closed

[2018-04-25 21:26] jamesdunham opened #48 "Layout of 2016 precinct returns from St. Lawrence County"
Should this be changed? The [2016 precinct returns from St. Lawrence County](https://github.com/openelections/openelections-data-ny/blob/master/2016/20161108__ny__general__st_lawrence__precinct.csv) don't include a `votes` column. They instead take a wide format where vote mode subtotals are in columns:
[code]

To make the layout predictable without discarding the mode information, (1) `total` cou

[2018-04-25 21:32] dwillis commented on #48
Yes, the `total` column should be renamed to `votes`, leaving the others in place.

[2018-04-26 18:31] #48 closed

[2018-06-06 00:05] katiemarriner commented on #39
I'll start work on converting the 2014 primary files available in the sources repo and will make note of what's missing along the way.

[2018-06-16 13:17] dwillis opened #52 "2016 general precinct discrepancies"
- [ ] Dutchess - Clinton has 9 more DEM votes than county totals

[2018-06-16 21:04] jamesdunham commented on #52
Here's what I've found so far:

- [x] In Essex, drop the total row for each town's precincts, indicated e.g. by precinct of `Ticonderoga`, after `Ticonderoga 1`, `Ticonderoga 2`
- [ ] Similarly, in Niagara, we have `Wilson/000/1`, `Wilson/000/2`, ... `Wilson/000`
- [ ] In Columbia, mode `votes` = `AbsenteeAffidavit` + `ElectionDayVotes`
- [ ] Same in Herkimer, but `votes` = `absentee_affidavit` +

[2018-06-16 21:51] jamesdunham commented on #52
After the steps in my previous comment, I get this:

[code]

[2018-06-17 13:02] dwillis commented on #52
Looked at [Dutchess recanvass](http://www.dutchesselections.com/Election_Results/2016/GE16/Results/GE16%20ED%20Level%20Results%20Final.pdf) and the Clinton Dem total is now 58933, which is 23 more than state's total for the county.

[2018-06-17 17:44] jamesdunham commented on #52
Dutchess looks good now. With 5a482c4, we also have 58,933.

[code]

[2018-06-17 17:58] jamesdunham commented on #52
Here's another pass through the NY returns more broadly, using 5a482c4: [gist](https://gist.github.com/jamesdunham/9805895741354311f9945366026f1785).

[code]

[2018-06-23 03:06] dwillis commented on #52
I've gone through and removed the total rows from the counties mentioned above. I'm not sure what the issue is with Steuben - it looks like the county total file is incorrect.

[2018-07-01 18:28] dwillis opened #54 "2016 Primary NYC precinct files seem to be missing the presidential candidates' names"
https://twitter.com/BenJ_Rosenblatt/status/1013156913239019520

[2018-07-01 19:01] dwillis commented on #54
Fixed by 4c29d9bac4ea538decff4e7ea9cfc8e967002500

[2018-07-01 19:01] #54 closed

[2018-08-03 04:03] jmillermi opened #56 "2016 gen: issues in Cayuga county"
Don't have time to dig into this right now, but couple issues here - missing district, every line has 126 votes, etc:

[code]

[2018-08-03 11:47] dwillis commented on #56
@jmillermi Thanks - I've pushed a fix for this and regenerated the statewide precinct results file.

[2018-10-14 18:47] GulliverDataJournalist commented on #37
I've got Chatauqua.

[2018-10-15 02:13] GulliverDataJournalist commented on #37
finished my first (Chautauqua, president) - not sure if it went through. it's just for you to check at this point. a few questions - one, are you doing every race in a separate sheet or should they be tabs in the same sheet like in the original. Also,can't remember, what 's proper label for party and candidate fields when values are W-IN/Scattering and (isblank)/BlankVoid?

[2018-10-15 12:39] dwillis commented on #37
@GulliverDataJournalist Just gave you access to push to the repository, so your changes haven't made it yet. If you want, you can email the file to openelections@gmail.com so I can check it. The CSV should have all races in the same sheet and the labels for Scattering should be:

party: blank
candidate: Scattering

and for Blank/Void

party: blank
candidate: Blank/Void

[2018-10-23 13:47] dwillis commented on #37
@GulliverDataJournalist no worries - I've sent you an email invite that should allow you to push.

[2018-11-09 13:56] #37 closed

[2018-11-10 18:48] dwillis opened #59 "2018 Primary Precinct Results"
List of county websites [here](https://www.elections.ny.gov/CountyBoards.html).

- [ ] Albany
- [ ] Allegany
- [ ] Bronx
- [ ] Broome
- [ ] Cattaraugus
- [ ] Cayuga
- [ ] Chautauqua
- [ ] Chemung
- [ ] Chenango
- [ ] Clinton
- [ ] Columbia
- [ ] Cortland
- [ ] Delaware
- [ ] Dutchess
- [ ] Erie
- [ ] Essex
- [ ] Franklin
- [ ] Fulton
- [ ] Genesee
- [ ] Greene
- [ ] Hamilton
- [ ] Herkimer
- [ ] J

[2018-11-12 16:48] dwillis opened #60 "2018 Federal Primary Precinct Results"
List of county websites [here](https://www.elections.ny.gov/CountyBoards.html).

- [ ] Albany
- [ ] Allegany
- [ ] Bronx
- [ ] Broome
- [ ] Cattaraugus
- [ ] Cayuga
- [ ] Chautauqua
- [ ] Chemung
- [ ] Chenango
- [ ] Clinton
- [ ] Columbia
- [ ] Cortland
- [ ] Delaware
- [ ] Dutchess
- [ ] Erie
- [ ] Essex
- [ ] Franklin
- [ ] Fulton
- [ ] Genesee
- [ ] Greene
- [ ] Hamilton
- [ ] Herkimer
- [ ] J

[2018-12-29 22:49] dwillis opened #61 "2018 General Election Precinct Results"
List of county websites [here](https://www.elections.ny.gov/CountyBoards.html), and source files we've collected are found [here](https://github.com/openelections/openelections-sources-ny/tree/master/2018).

The goal is to create a single CSV file for each county, with the following headers:

`county`, `precinct`, `office`, `district`, `party`, `candidate`, `votes`

If the county file also provide

[2019-02-02 04:09] lephead commented on #61
I am currently doing all 5 boroughs of New York City and almost finished.

[2019-02-11 03:42] lephead commented on #61
I've got the prep work to do Albany,Erie and Tompkins

[2019-03-10 18:01] actongorton commented on #61
I'm going to give Delaware a go

[2019-04-21 21:02] jeremiak commented on #61
Took a stab at Jefferson in #63

[2019-04-28 21:28] jeremiak opened #64 "Is the file name "20161108__ny__general.csv" correct?"
Wondering if "20161108__ny__general.csv" should be "20161108__ny__general__county.csv" instead?

It seems like the same file for [Texas](https://raw.githubusercontent.com/openelections/openelections-data-tx/master/2016/20161108__tx__general__county.csv) and for [Tennessee](https://github.com/openelections/openelections-data-tn/blob/master/2016/20161108__tn__general__county.csv) have the `__county`

[2019-04-29 16:58] sonyabea commented on #64
yup, these look like county-level results. You fork, change the name and submit a pull request :)

[2019-04-29 20:00] dwillis commented on #64
@jeremiak @sonyabea We've been inconsistent on this, but county-level results files should include the `__county` segment in the name, yes.

[2019-04-29 20:10] jeremiak commented on #64
Great, I'll open a PR then :)

[2019-05-14 10:49] #64 closed

[2019-05-21 21:56] nealmcb opened #66 "non-numeric values for 'votes' in 2018 albany etc."
In the 2018 data, I've run into some errors while trying to interpret the `votes` column as a numeric (typically due to commas), and a few other glitches.

Here is some sample output indicating the file and an error or two from the file.

[code]

[2019-05-22 14:57] dwillis commented on #66
@nealmcb Thanks - we'll fix.

[2019-05-23 12:03] dwillis commented on #66
@nealmcb These should be resolved now.

[2019-05-23 12:03] #66 closed

[2019-05-27 02:49] lephead commented on #61
I have a Wayne I can do.

[2019-06-03 00:26] lephead commented on #61
I finished Wayne and i'll do Monroe.

[2019-06-19 15:04] dwillis opened #67 "Delaware County 2018 General Precinct Results"
While checking I saw a small difference in the totals of State Senate - District 51 - James L Seward - CON. In document it is showing 475 but actual it is 466

[2019-06-26 23:14] wbannick opened #68 "Clinton County Missing Sharpe in Governor Race"
Hello, I noticed that the Clinton County, NY precinct data for the 2018 general election was missing the candidate Larry Sharpe for Governor.

Thank you for the all the well maintained data in these repos!

[2019-06-27 12:00] #68 closed

[2019-06-27 12:01] dwillis commented on #68
@wbannick Thanks - we had Stephanie Miner's name with Sharpe's results, but have fixed that now.

[2019-06-27 17:15] wbannick opened #69 "St. Lawrence missing US Senate"
Hello! It seems St. Lawrence County, NY is missing US Senate Results for 2018. Thanks again for the great data!

[2019-06-27 17:17] dwillis commented on #69
@wbannick thanks - we'll fix!

[2019-07-04 14:32] #69 closed

[2019-07-04 14:36] #61 closed

[2019-07-04 14:49] #67 closed

[2019-08-23 17:51] wbannick opened #70 "Saratoga and St. Lawrence missing Write-ins"
Hello, I noticed that Saratoga County, NY and St. Lawrence County, NY seem to be missing write-in data for 2018.

Thank you for the high quality data!

[2019-08-23 18:11] dwillis commented on #70
@wbannick You are correct - we'll see about adding those from the original sources.

[2019-10-29 18:18] dbroockman opened #71 "US House Races missing in statewide precinct results file"
US House races appear to be missing in https://github.com/openelections/openelections-data-ny/blob/master/2018/20181106__ny__general__precinct.csv for the following counties:

- [x] Broome
- [x] Cayuga
- [x] Clinton
- [x] Cortland
- [x] Dutchess
- [x] Kings
- [x] Oneida
- [x] Otsego
- [x] Richmond
- [x] Sullivan

It is possible other countries or other races may be missing as well, these are the o

[2019-10-29 22:46] dbroockman opened #72 "US House Race Missing in Otsego precinct results"
https://github.com/openelections/openelections-data-ny/blob/master/2018/counties/20181106__ny__general__otsego__precinct.csv is missing the US House race.

[2019-10-30 11:54] #72 closed

[2019-10-30 12:07] dwillis commented on #71
@dbroockman Thanks - we've replaced the statewide precinct file to add House races (and some others that did not have standardized office names) to it.

[2019-11-09 18:11] #71 closed

[2019-11-27 18:51] NYCJacob commented on #39
I'll work on Ulster County

[2019-12-12 17:15] #56 closed

[2020-05-22 16:48] djbj34 opened #73 "2012 General Election State Senate district formatting"
In the 2012 General Election precinct files, the "district" values for the State Senate races are formatted as "SD##" instead of "##". This creates errors when I attempt to load the data in Excel because it sees that as a text instead of a number value. The "SD" prefix needs to be removed for these files.

[2020-06-03 18:42] NYCJacob commented on #39
Ok, I will start working on Ulster Co this weekend- really.

[2020-06-15 23:23] oscarbatori opened #74 "Corrupt values in Ulster primary precinct file"
https://github.com/openelections/openelections-data-ny/blob/master/2018/counties/20180913__ny__primary__ulster__precinct.csv

This breaks parsing as it contains some characters that seem to be erroneously encoded. I imagine this occurred as the contributor may have used Excel to output the CSV and ended up with non-standard character encoding.

[2020-06-15 23:30] oscarbatori opened #75 "Corrupt file for Suffolk general precinct level"
https://raw.githubusercontent.com/openelections/openelections-data-ny/master/2012/counties/20121106__ny__general__suffolk__precinct.csv

Line has an extra comma, breaking CSV parsing 75924.

[2020-06-16 00:29] #74 closed

[2020-06-16 00:36] dwillis commented on #75
@oscarbatori hey, thanks for this. I can't replicate the error - have tried parsing it with Ruby and Python's csv modules and both worked.

[2020-06-16 03:10] oscarbatori commented on #75
Strange, I cannot parse this file... I will dig in a bit and see if something completely weird happened...

[2020-06-17 19:32] oscarbatori commented on #74
Nice, thanks @dwillis

[2020-06-29 03:57] oscarbatori opened #76 "2012 votes column contain erroneous values"
`2012/20121106__ny__general__precinct.csv` and `2014/20141104__ny__general__precinct.csv` both contain a bunch of strings in the votes column (containing mostly candidate names).

[2020-08-15 14:54] dwillis opened #78 "2020 Primary Precinct Results"
List of county websites [here](https://www.elections.ny.gov/CountyBoards.html), and source files we've collected are found [here](https://github.com/openelections/openelections-sources-ny/tree/master/2020).

The goal is to create a single CSV file for each county, with the following headers:

`county`, `precinct`, `office`, `district`, `party`, `candidate`, `votes`

If the county file also provide

[2020-09-01 22:27] dwillis opened #79 "Suffolk 2020 Primary Discrepancies"
There are discrepancies on the PDF for Suffolk County in New York that I noticed when I was double-checking my csv.  There is a table at the top of each race and then another one at the bottom, and they don’t match for all candidates.  I checked a few races row-by-row and the table at the bottom of each race matches the sum of all the votes in the election districts listed.  My cvs adds up to matc

[2020-09-01 22:46] japerez0017 commented on #79
I forwarded this to the county commish for explanation. I don’t anticipate that it will be corrected or anything like that but at least an explanation perhaps.
-Jorge

 - Sent from my IPhone
On Sep 1, 2020, 6:27 PM -0400, Derek Willis <notifications@github.com>, wrote:

[2020-12-01 20:13] dwillis opened #80 "2020 General Election Precinct Results"
List of county websites [here](https://www.elections.ny.gov/CountyBoards.html), and source files we've collected are found [here](https://github.com/openelections/openelections-sources-ny/tree/master/2020).

The goal is to create a single CSV file for each county, with the following headers:

`county`, `precinct`, `office`, `district`, `party`, `candidate`, `votes`

If the county file also provide

[2020-12-05 23:59] jackgovier commented on #80
I'm looking at converting Allegany.

[2021-02-11 02:00] saewitz commented on #80
lewis county results are slightly off

trump has 8,894 on the official results but 8,890 in this data

biden has 3,824 on the official results but 3,823 in this data

[2021-02-11 18:23] saewitz commented on #80
schoharie county results are slightly off

jorgensen has 282 on the official results but 283 in this data

[2021-02-11 22:43] saewitz commented on #80
wyoming county results are slightly off

trump has 13,898 on the state results, 13,897 on the county results, and 13,348 in this data

biden has 5,073 on the state results, 5,073 on the county results, and 4,283 in this data

biden has 267 on the state results, 267 on the county results, and 247 in this data

pierce has 93 on the state results, 93 on the county results, and 84 in this data

hawkin

[2021-02-11 22:47] saewitz commented on #80
yates county results are slightly off

trump has 6,206 on the official results but 6,208 in this data

biden has 4,219 on the official results but 4,214 in this data

[2021-03-10 03:11] #80 closed

[2021-04-06 10:17] carbonphyber commented on #75
It looks like there is an extra column added in some rows (see screenshot after "State Senate" column).
<img width="796" alt="Screen Shot 2021-04-06 at 03 16 16" src="https://user-images.githubusercontent.com/363098/113696123-7523da00-9686-11eb-8f84-5d66a25d03ac.png">

[2021-04-06 10:56] carbonphyber commented on #73
This issue has been fixed after PR #87 was merged. I verified with another `grep`

[2021-04-06 10:58] carbonphyber commented on #75
Also, I noticed there are a lot of these State Senate office rows where the same {precinct, office, district, candidate} tuple has multiple rows with different {party, votes}. Is this expected? Is it a feature of NY ballots/voting?

[2021-04-06 11:22] dwillis commented on #75
@carbonphyber Yes, in NY candidates can run on multiple party lines.

[2021-04-07 01:01] carbonphyber commented on #76
Likely fixed by PR #88 . Will try and verify later.

[2021-04-08 02:56] carbonphyber commented on #76
Verified fixed. There are no candidate names in the "votes" column anymore.

[2021-04-08 11:41] #76 closed

[2021-04-08 11:42] #75 closed

[2021-04-30 01:13] arapf opened #91 "2020 General Data - Suffolk County Issue Discovered"
Hello! Looks like the precinct-level 2020 numbers are off in Suffolk by precinct/town in the race for president.

For the presidential race, the candidates have numbers for each of Smithtown's 92 precincts, then there's a repeated entry for precincts 1-42. That second entry is *actually* Southampton 1-42, the results of which are missing at the presidential level.

Haven't looked at state races, b

[2021-05-20 18:09] warwickmm commented on #91
Here's a direct link to the problematic file

https://github.com/openelections/openelections-data-ny/blob/9e3b7f1c0e4af6e8f0aae416b9d40f3e12b2c5eb/2020/counties/20201103__ny__general__suffolk__precinct.csv

[2021-05-20 19:30] #91 closed

[2021-06-25 16:39] warwickmm opened #94 "2000 NY general file has empty column header"
[2000/20001107__ny__general.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2000/20001107__ny__general.csv) has an empty trailing column header:

https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2000/20001107__ny__general.csv#L1

However, there are some rows that have a value in this colum

[2021-06-25 16:41] warwickmm opened #95 "2012 Madison County general file has empty column headers"
[2012/counties/20121106__ny__general__madison__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2012/counties/20121106__ny__general__madison__precinct.csv) has empty trailing column headers:

https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2012/counties/20121106__ny__general__madi

[2021-06-25 16:44] warwickmm opened #96 "2014 Warren County general file has empty column headers"
[2014/counties/20141104__ny__general__warren__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2014/counties/20141104__ny__general__warren__precinct.csv) has empty trailing column headers:

https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2014/counties/20141104__ny__general__warren

[2021-06-25 16:48] warwickmm opened #97 "2016 Sullivan County general file has empty column header"
[2016/counties/20161108__ny__general__sullivan__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2016/counties/20161108__ny__general__sullivan__precinct.csv) has an empty trailing column header:

https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2016/counties/20161108__ny__general__

[2021-06-25 16:53] warwickmm opened #98 "2018 Nassau County general file has empty column header"
[2018/counties/20181106__ny__general__nassau__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2018/counties/20181106__ny__general__nassau__precinct.csv) has an empty trailing column header:
[code]

However, there are around 4315 lines that have a value for this column.  We should either add the appropriate header, or remove the ext

[2021-06-25 17:05] warwickmm opened #99 "2014 Suffolk County general file has inconsistent number of columns"
[2014/counties/20141104__ny__general__suffolk__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2014/counties/20141104__ny__general__suffolk__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-06-25 17:07] warwickmm opened #100 "2016 Richmond County primary file has inconsistent number of columns"
[2016/counties/20160913__ny__republican__primary__richmond__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2016/counties/20160913__ny__republican__primary__richmond__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-06-25 17:09] warwickmm opened #101 "2018 Monroe County general file has inconsistent number of columns"
[2018/counties/20181106__ny__general__monroe__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2018/counties/20181106__ny__general__monroe__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-06-25 17:10] warwickmm opened #102 "2020 Bronx County general file has inconsistent number of columns"
[2020/counties/20201103__ny__general__bronx__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2020/counties/20201103__ny__general__bronx__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-06-25 17:12] warwickmm opened #103 "2020 Kings County general file has inconsistent number of columns"
[2020/counties/20201103__ny__general__kings__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2020/counties/20201103__ny__general__kings__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-06-25 17:14] warwickmm opened #104 "2020 New York County general file has inconsistent number of columns"
[2020/counties/20201103__ny__general__new_york__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2020/counties/20201103__ny__general__new_york__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-06-25 17:15] warwickmm opened #105 "2020 Queens County general file has inconsistent number of columns"
[2020/counties/20201103__ny__general__queens__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2020/counties/20201103__ny__general__queens__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-06-25 17:16] warwickmm opened #106 "2020 Richmond County primary file has inconsistent number of columns"
[2020/counties/20200623__ny__primary__richmond__precinct.csv](https://github.com/openelections/openelections-data-ny/blob/744e1febe8f4980174c9522ee48de58952a98a0b/2020/counties/20200623__ny__primary__richmond__precinct.csv) has rows with an inconsistent number of columns:
[code]

[2021-10-07 00:25] dwillis opened #118 "Cattaraugus 2020 general errors"
Looks like there may be a reversal of column headers. I'll check into it.

[code]

[2022-01-17 02:02] afischer commented on #105
There appears to be a larger issue with all the NYC counties. NYC provides ballot type counts at the precinct level, but not broken down by candidate. The files seem to copy these values for each candidate, which is incorrect.

See official data [here](https://vote.nyc/sites/default/files/pdf/election_results/2020/20201103General%20Election/00000100000Citywide%20President%20Vice%20President%20City

[2022-01-17 02:02] afischer commented on #104
There appears to be a larger issue with all the NYC counties. NYC provides ballot type counts at the precinct level, but not broken down by candidate. The files seem to copy these values for each candidate, which is incorrect.

See official data [here](https://vote.nyc/sites/default/files/pdf/election_results/2020/20201103General%20Election/00000100000Citywide%20President%20Vice%20President%20City

[2022-01-17 02:02] afischer commented on #103
There appears to be a larger issue with all the NYC counties. NYC provides ballot type counts at the precinct level, but not broken down by candidate. The files seem to copy these values for each candidate, which is incorrect.

See official data [here](https://vote.nyc/sites/default/files/pdf/election_results/2020/20201103General%20Election/00000100000Citywide%20President%20Vice%20President%20City

[2022-01-17 02:02] afischer commented on #102
There appears to be a larger issue with all the NYC counties. NYC provides ballot type counts at the precinct level, but not broken down by candidate. The files seem to copy these values for each candidate, which is incorrect.

See official data [here](https://vote.nyc/sites/default/files/pdf/election_results/2020/20201103General%20Election/00000100000Citywide%20President%20Vice%20President%20City

[2022-04-13 13:16] sbaltzmit opened #123 "NY18 missing precinct names"
Hello,

when I load the 2018 NY precinct data (20181106__ny__general__precinct.csv acquired from https://github.com/openelections/openelections-data-ny/blob/master/2018/20181106__ny__general__precinct.csv) I find 657 missing precinct names. Replicating the issue is straightforward:

[code]

The rows with missing precinct names don't have any obvious commonalities, and they're from 4 different coun

[2022-04-13 19:24] dwillis commented on #123
@sbaltzmit a couple of thoughts, yeah: for NYC-area records I think those are actually cumulative totals and will confirm. The Onondaga and Albany ones don't seem to fit that bill, though, so might be conversion errors.